<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844675542116-fqj1qj39qfoo13vj0tfik2npqtlgqe6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844675542116-fqj1qj39qfoo13vj0tfik2npqtlgqe6t</string>
	<key>API_KEY</key>
	<string>AIzaSyDb7ywcO_5ETZ28ORqnyzOekb2EwHJyPFg</string>
	<key>GCM_SENDER_ID</key>
	<string>844675542116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JonathanHarik.Group-Tinder</string>
	<key>PROJECT_ID</key>
	<string>group-tinder-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>group-tinder-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844675542116:ios:2812e76e8d7bd156188371</string>
</dict>
</plist>